{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawsome.all.min.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/http_code.jquery.com_jquery-3.3.1.slim.js' %}"></script>
    <!-- bootstrap.bundle 은 bootstrap.js 와 popper.js 를 포함하고 있다 -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>